<%= form_with(model: mejora, local: true) do |form| %>
  <% if mejora.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mejora.errors.count, "error") %> prohibited this mejora from being saved:</h2>

      <ul>
      <% mejora.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mejora %>
    <%= form.text_field :mejora %>
  </div>

  <div class="field">
    <%= form.label :detalle %>
    <%= form.text_area :detalle %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
