<%= form_with(model: item_base, local: true) do |form| %>
  <% if item_base.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_base.errors.count, "error") %> prohibited this item_base from being saved:</h2>

      <ul>
      <% item_base.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :item_base %>
    <%= form.text_field :item_base %>
  </div>

  <div class="field">
    <%= form.label :pagina %>
    <%= form.text_field :pagina %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :documento_base_id %>
    <%= form.number_field :documento_base_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
