<p id="notice"><%= notice %></p>

<h1>Conversaciones</h1>

<table>
  <thead>
    <tr>
      <th>Parent</th>
      <th>Child</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conversaciones.each do |conversacion| %>
      <tr>
        <td><%= conversacion.parent_id %></td>
        <td><%= conversacion.child_id %></td>
        <td><%= link_to 'Show', conversacion %></td>
        <td><%= link_to 'Edit', edit_conversacion_path(conversacion) %></td>
        <td><%= link_to 'Destroy', conversacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conversacion', new_conversacion_path %>
