<p id="notice"><%= notice %></p>

<h1>Curriculum Bases</h1>

<table>
  <thead>
    <tr>
      <th>Orden</th>
      <th>Curriculum base</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculum_bases.each do |curriculum_base| %>
      <tr>
        <td><%= curriculum_base.orden %></td>
        <td><%= curriculum_base.curriculum_base %></td>
        <td><%= link_to 'Show', curriculum_base %></td>
        <td><%= link_to 'Edit', edit_curriculum_base_path(curriculum_base) %></td>
        <td><%= link_to 'Destroy', curriculum_base, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curriculum Base', new_curriculum_base_path %>
