<% unless @coleccion['observaciones'].empty? %>
	<%= render partial: '0p/general/titulo', locals: {c: 'observaciones', a: nil, titulo: 'Observaciones', size: '6'} %>
	<table class="table table-striped table-sm  thead-dark">
		<tbody>
			<% @coleccion['observaciones'].each do |obs| %>
				<tr><td><%= "| #{obs.observacion} |" %></td><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: obs} %></td></tr>
				<tr><td colspan="2"><small><%= sanitize obs.d_detalle %></small></td></tr>
			<% end %>
		</tbody>
	</table>
<% else %>	
	<%= render partial: '0p/general/titulo', locals: {c: 'observaciones', a: nil, titulo: 'Observaciones (Vacio)', size: '6'} %>
<% end %>
