<%= form_with(model: tipo_asignatura_base, local: true) do |form| %>
  <% if tipo_asignatura_base.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_asignatura_base.errors.count, "error") %> prohibited this tipo_asignatura_base from being saved:</h2>

      <ul>
      <% tipo_asignatura_base.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :tipo_asignatura %>
    <%= form.text_field :tipo_asignatura %>
  </div>

  <div class="field">
    <%= form.label :curriculum_base_id %>
    <%= form.number_field :curriculum_base_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
