<%= render partial: '0p/general/o_titulo', locals: {o: @objeto, a: action_name, size: '5'} %>
<div class='row'>
	<div class='col-md-4'>
	    <%= render partial: '0p/general/titulo', locals: {c: 'nivel_bases', a: nil, titulo: 'Cobertura Nivel Base', size: '5'} %>
		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'nivel_bases', a: 'index'} %>
	    <%= render partial: '0p/form/inline_select_element', locals: {c: 'nivel_bases', parametros: [@objeto], lista_seleccion: @nivel_bases_seleccion, nombre_selector: 'nivel_base'} %>
	</div>
	<div class='col-md-4'>
	    <%= render partial: '0p/general/titulo', locals: {c: 'asignatura_bases', a: nil, titulo: 'Cobertura Asignatura(s)', size: '5'} %>
		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'asignatura_bases', a: 'index'} %>
	    <%= render partial: '0p/form/inline_select_element', locals: {c: 'asignatura_bases', parametros: [@objeto], lista_seleccion: @asignatura_bases_seleccion, nombre_selector: 'asignatura_base'} %>
	</div>
	<div class='col-md-4'>
	    <%= render partial: '0p/general/titulo', locals: {c: 'item_bases', a: nil, titulo: 'Items mapeados', size: '5'} %>
		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'item_bases', a: 'index'} %>
	    <%= render partial: '0p/tabla/btn_nuevo', locals: {c: 'item_bases'} %>
	</div>
</div>