<%= form_with(model: area_base, local: true) do |form| %>
  <% if area_base.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(area_base.errors.count, "error") %> prohibited this area_base from being saved:</h2>

      <ul>
      <% area_base.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :orden %>
    <%= form.number_field :orden %>
  </div>

  <div class="field">
    <%= form.label :area_base %>
    <%= form.text_field :area_base %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
