<% unless @coleccion['mejoras'].empty? %>
	<%= render partial: '0p/general/titulo', locals: {c: 'mejoras', a: nil, titulo: 'Mejoras', size: '6'} %>
	<table class="table table-striped table-sm  thead-dark">
		<tbody>
			<% @coleccion['mejoras'].each do |mej| %>
				<tr><td><%= "| #{mej.mejora} |" %></td><td><%= render partial: '0p/tabla/btns', locals: {a: 'index', objeto: mej} %></td></tr>
				<tr><td><small><%= sanitize mej.d_detalle %></small></td></tr>
			<% end %>
		</tbody>
	</table>

<% else %>
	<%= render partial: '0p/general/titulo', locals: {c: 'mejoras', a: nil, titulo: 'Mejoras (Vacio)', size: '6'} %>
<% end %>
