<%= render partial: '0p/general/o_titulo', locals: {o: @objeto, a: action_name, size: '5'} %>
<div class='row'>
	<div class='col-md-6'>
	    <%= render partial: '0p/general/titulo', locals: {c: 'nivel_bases', a: nil, titulo: 'Niveles electivos', size: '5'} %>
		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'nivel_bases', a: 'index'} %>
		<%= render partial: '0p/form/inline_select_element', locals: {c: 'nivel_bases', parametros: [@objeto], lista_seleccion: @nivel_bases_seleccion, nombre_selector: 'nivel_base'} %>
		<%#= render partial: '0p/form/inline_order_element', locals: {c: 'nivel_bases', parametros: [@objeto], detalle: false, order_size: 3, objeto_size: 34} %>
	</div>
	<div class='col-md-6'>
	    <%= render partial: '0p/general/titulo', locals: {c: 'asignatura_nivel_bases', a: nil, titulo: 'Asignaturas Nivel Base', size: '5'} %>
		<%= render partial: '0p/tabla/solo_tabla', locals: {c: 'asignatura_nivel_bases', a: 'index'} %>
		<%#= render partial: '0p/form/inline_select_element', locals: {c: 'asignatura_nivel_bases', parametros: [@objeto], lista_seleccion: @asignatura_bases_seleccion, nombre_selector: 'asignatura_nivel_base'} %>
	</div>
</div>
