<%= form_with(model: cobertura, local: true) do |form| %>
  <% if cobertura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cobertura.errors.count, "error") %> prohibited this cobertura from being saved:</h2>

      <ul>
      <% cobertura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :asignatura_base_id %>
    <%= form.number_field :asignatura_base_id %>
  </div>

  <div class="field">
    <%= form.label :tipo_asignatura_base_id %>
    <%= form.number_field :tipo_asignatura_base_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
