<p id="notice"><%= notice %></p>

<h1>Coberturas</h1>

<table>
  <thead>
    <tr>
      <th>Asignatura base</th>
      <th>Tipo asignatura base</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coberturas.each do |cobertura| %>
      <tr>
        <td><%= cobertura.asignatura_base_id %></td>
        <td><%= cobertura.tipo_asignatura_base_id %></td>
        <td><%= link_to 'Show', cobertura %></td>
        <td><%= link_to 'Edit', edit_cobertura_path(cobertura) %></td>
        <td><%= link_to 'Destroy', cobertura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cobertura', new_cobertura_path %>
