<p id="notice"><%= notice %></p>

<p>
  <strong>Asignatura base:</strong>
  <%= @cobertura.asignatura_base_id %>
</p>

<p>
  <strong>Tipo asignatura base:</strong>
  <%= @cobertura.tipo_asignatura_base_id %>
</p>

<%= link_to 'Edit', edit_cobertura_path(@cobertura) %> |
<%= link_to 'Back', coberturas_path %>
