<%= form.select :tipo, AsignaturaNivelBase::TIPO, include_blank: false, prompt: "Seleccione Tipo" %>
<%= form.select :tipo_asignatura_base_id, @objeto.asignatura_base.curriculum_base.tipo_asignatura_bases.order(:orden).collect { |tab| [tab.tipo_asignatura_base, tab.id] }, include_blank: false, prompt: "Seleccione tipo Asignatura" %></br>


<small><%= form.label "Orden | Asignatura Nivel base" %></small></br>
<div class='form-inline'>
	<%= form.text_field(:orden, size: 5, class: 'form-control' ) %>
	<%= form.text_field(:asignatura_nivel_base, size: 57, class: 'form-control' ) %>
</div>

<%= form.hidden_field :asignatura_base_id %>
<%= form.hidden_field :origen %>
