<%= render partial: '0p/general/o_titulo', locals: {o: @objeto, a: action_name, size: '5'} %>
<% unless @objeto.d_detalle.blank? %>
	<small><%= sanitize @objeto.d_detalle %></small>
	</br></br>
<% end %>

<%= render partial: '0p/general/btn', locals: {texto: @objeto.tipo_asignatura_base.tipo_asignatura_base, link: @objeto.tipo_asignatura_base, delete: false, style: 'btn-outline-dark', clr: 'dark'} %>
</br></br>

<div class='row'>
	<div class='col-md-6'>
	    <%= render partial: '0p/general/titulo', locals: {c: 'asignatura_nivel_bases', a: nil, titulo: 'Asignatura nivel(es) base', size: '5'} %>
	    <%= render partial: '0p/tabla/solo_tabla', locals: {c: 'asignatura_nivel_bases', a: 'index'} %>

	    <!-- GENERA ASIGNATURA-NIVEL-BASE -->
		<%= form_for :objeto_base, url: "/nivel_bases/crea_asignatura_nivel?#{url_params([@objeto])}" do |form| %>
			<%= form.select :objeto_id, @nivel_bases_seleccion.collect { |asignacion| [asignacion.nivel_base, asignacion.id] }, include_blank: false, prompt: "Seleccione nivel" %>
			<div class='form-inline'>
				<%= form.text_field(:nombre_asignatura, size: 46, class: 'form-control' ) %>
				<%= form.submit '+ Asignatura Nivel'  %>
			</div>
		<% end  %>


	</div>
	<div class='col-md-6'>
	    <%= render partial: '0p/general/titulo', locals: {c: 'documento_bases', a: nil, titulo: 'Documentos base', size: '5'} %>
	    <%= render partial: '0p/tabla/solo_tabla', locals: {c: 'documento_bases', a: 'index'} %>
	    <%#= render partial: '0p/form/inline_select_element', locals: {c: 'documento_bases', parametros: [@objeto], lista_seleccion: @documento_bases_seleccion, nombre_selector: 'documento_base'} %>
	</div>
</div>


